h1{
    font-weight: lighter;
    color: #800080;
    size: 32;
    width: 50%;
    background-color:coral;
}
.paragrafo01{
    background-color: aqua;
}
.paragrafo02{
    background-color: orangered;
}